/* print.css */

/* Hide non-essential elements */
  footer, video, .centered-video-overlay, nav, .left-sidebar {
    display: none;
}

/* Show essential elements for printing */
.center, .centerbutton, table {
    display: block;
}

/* Additional styles for printing if needed */
@media print {
    /* Resetting some styles to ensure a clean print */
    body {
        margin: 0;
        padding: 0;
        line-height: 1.4;
        font-size: 14px;
    }

    /* Remove background colors and images */
    body, header, footer {
        background: none;
    }

    /* Adjust margins for better print layout */
    @page {
        margin: 1cm; /* You can adjust this value as needed */
    }

    /* Ensure that links are visible when printed */
    a:link, a:visited {
        text-decoration: underline;
    }

    /* Hide elements not relevant for printing */
    header, footer, video, .centered-video-overlay, #video-section, #testimonial-section {
        display: none;
    }

    /* Styles for table formatting */
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 10px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    /* Additional styles as needed for better printing */
}
