body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    background:#FFF1F5;
    color: #2A1209;
    overflow-x: hidden;
}

#wrapper { margin: 0 auto;
	background-color: #FFF1F5;
	color: #2A1209; }

header {
    color: #2A1209;
    padding: 0;
    text-align: center;
}


section {
    padding: 20px;
}

h1, h2 {
    color: #2A1209;
    
}

.h2white {background-color: #FFF1F5 ;
            padding: 5px;
}

.containerh1 {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    text-align: center; /* Center text inside the container */
    height: 100vh; /* Set the height to 100% of the viewport height for vertical centering */
  }
  
  h1 {
    color: #2A1209;

    text-align: center;
    /* Add any other styles you need for your h2 element */
  }
  
  /* Media query for smaller screens */
  @media screen and (max-width: 600px) {
    .containerh1 {
      flex-direction: column; /* Stack items vertically on smaller screens */
    }
  }
  

h3 {
    color: #2A1209; 
}


/* NAV */
nav a {
    color: #2A1209;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-weight: bold;
}

nav img {
    height: 20px;
    width: auto;
    margin-right: 20px;
}
nav {
    text-align: center;
    background-color: #FFF1F5;
    margin: 0;
    padding-bottom: 1.7em; /* Adjust the padding-bottom value to make the nav bar less thick */
    padding-right: 3px;
    position: relative;
    top: 0em;
    left: 0em;
    height: auto;
    width: 100%;
    z-index: 500;
    color: #2A1209;
    font-size: larger;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center; /* Vertically center items */
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    justify-content: space-around; /* Align items to the right */
}

nav li {
    display: inline-block;
    margin: 0 10px;/* Adjust spacing between menu items */
    position: relative;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%; /* Position submenus below the parent menu items */
    background-color: #FFF1F5;
    padding-top:20px;
    margin-top: 10px; /* Adjust the top margin as needed */
    margin-bottom: 10px; /* Adjust the bottom margin as needed */
    margin-left: 10px; /* Adjust the left margin as needed */
    margin-right: 10px; /* Adjust the right margin as needed */
    justify-content: space-around;
}

nav a:hover {
    color: #8e6b5c;
}
a:active {
    color: #72625c;
  }

nav ul li:hover > ul {
    display: inherit;
    background-color: #fadde1;
}

nav ul ul li {
    width: 100%;
    float: none;
    display: block;
    white-space: nowrap; /* Prevent line breaks in submenu names */
}

/* video */
.centered-video-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

#video-section {
    position: relative;
    overflow: hidden;
    width: auto;
    height: 450px; /* Set your desired height */
    padding: 0;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This will crop the video to fit the container */
    display: block;
    padding: 0px;
    opacity: 50%;
}

#video-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 10px;
    opacity: 0;
    transition: opacity 1.5s, transform 1.5s;
}

#video-overlay h1 {
    margin: 0;
    margin-top: 100px;
    font-size: 50px;
}

#video-overlay.fade-in {
    opacity: 1;
    transform: translate(-50%, -50%);
}


    /* Footer */
    footer { font-size: 70%;
        text-align: center;
        text-decoration: none;
        padding: 10px;
        background-color: #fcd5ce;
        color: #2A1209;
        clear: both;}

        footer a {
            color: white;
        }

        footer a:hover {
            color: lightseagreen; 
        }



.best-sellers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.best-seller {
    flex: 0 0 calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#best-seller-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background-color: #fcd5ce;
}

.best-seller {
    flex: 0 0 30%; /* Each column takes 30% of the width */
    background-color: rgba(255, 255, 255, 0.9); /* White background with 90% opacity */
    padding: 20px;
    border-radius: 10px;
    text-align: center;

}

.best-seller img {
    width: 300px; /* Set a fixed width */
    height: 300px; /* Set a fixed height */
    object-fit: cover; /* Maintain aspect ratio while covering */
    margin-bottom: 10px;
    background-color: #fcd5ce;
    align-items: center;
    border-radius: 10%;
    border: 5px solid #ffcad4;
}


#more {display: none;}
#more2 {display: none;}
#more3 {display: none;}

@media (max-width: 768px) {
    nav {
        text-align: center;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }

    #best-seller-section {
        flex-direction: column;
        background-color: #fcd5ce;
    }

    .best-seller {
        flex: 1 0 auto; /* Each column takes full width in mobile view */
        margin: 0 0 20px;
    }
}


.center {text-align: center;}

#logo {
    max-width: 200px;
    height: 100px;
    margin-top: 20px; /* Adjust the margin-top value to move the logo lower */
    text-align: center;
    flex: 1 0 auto;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 10%;
}


    button {
        padding: 15px 36px;
        font-size: 16px;
        color: #2A1209;
        background-color: #ffcad4;
        border: none;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    button:hover {
        background-color: #fadde1;
        transform: scale(1.1); /* Increase the size by 10% on hover */
        transition: background-color 0.2s, transform 0.2s; /* Apply transitions to background-color and transform */
    }
    
    button:not(:hover) {
        background-color: #ffcad4;
        transform: scale(1); /* Increase the size by 10% on hover */
        transition: background-color 0.2s, transform 0.2s; /* Apply transitions to background-color and transform */
    }

    .centerbutton {
        padding: 20px;
        text-align: center;
    }
    
    button {
        margin: 0 auto; /* Add this to center the button horizontally */
    }
    
    
/* Thumbnails for each page */
  
/* Thumbnails for each page */
#thumbnailabout {
    background-image: url("../Assets/pics/banners/crochet1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; /* Use cover to maintain aspect ratio and cover the container */
    color: #ffcad4;
    height: 400px; /* Set a fixed height for the container */
    opacity: 50%;
}

#thumbnailsup {
   background-image: url("../Assets/pics/banners/crochet4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; /* Use cover to maintain aspect ratio and cover the container */ 
    color: #ffcad4;
    background-position: center 150%;
    height: 400px; /* Set a fixed height for the container */
    opacity:50%;
}

#thumbnailcust {
    background-image: url("../Assets/pics/banners/crochet2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; /* Use cover to maintain aspect ratio and cover the container */ 
    color: #ffcad4;
    height: 400px; /* Set a fixed height for the container */
    opacity: 50%;
}

#thumbnailtest {
    background-image: url("../Assets/pics/banners/crochet7.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; /* Use cover to maintain aspect ratio and cover the container */ 
    color: #ffcad4;
    height: 400px; /* Set a fixed height for the container */
    opacity: 50%;
}


#thumbnailcontact {
    background-image: url("../Assets/pics/banners/crochet5.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; /* Use cover to maintain aspect ratio and cover the container */ 
    color: #ffcad4;
    background-position: center 150%;
    height: 400px; /* Set a fixed height for the container */
    opacity:50%;
}

#thumbnailfaqs {
    background-image: url("../Assets/pics/banners/crochet8.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; /* Use cover to maintain aspect ratio and cover the container */ 
    color: #ffcad4;
    height: 400px; /* Set a fixed height for the container */
    opacity: 50%;
}

#thumbnailadd {
    background-image: url(../Assets/crochet4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; /* Use cover to maintain aspect ratio and cover the container */
    color: #ffcad4;
    background-position: center 60%;
    height: 400px; /* Set a fixed height for the container */
    opacity: 50%;
}

#thumbnailteam {
    background-image: url(../Assets/crochet5.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; /* Use cover to maintain aspect ratio and cover the container */ 
    color: #ffcad4;
    background-position: center 100%;
    height: 400px; /* Set a fixed height for the container */
    opacity: 50%;
}

#thumbnailcompany {
    background-image: url(../Assets/crochet6.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; /* Use cover to maintain aspect ratio and cover the container */ 
    color: #ffcad4;
    background-position: center 100%;
    height: 400px; /* Set a fixed height for the container */
    opacity: 50%;
}

#thumbnailmission {
    background-image: url(../Assets/crochet3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; /* Use cover to maintain aspect ratio and cover the container */ 
    color: #ffcad4;
    background-position: center 150%;
    height: 400px; /* Set a fixed height for the container */
    opacity: 50%;
}

/* for the how it works colums*/
#img-overlay {
    position:absolute;
    top: 50%; /* Center vertically */
    left: 45%; /* Center horizontally */
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 0px;
    opacity: 0;
    transition: opacity 1s;
}


#img-overlay.active {
    opacity: 1;
}

/* Adjust positioning for smaller screens */
@media screen and (max-width: 600px) {
    #img-overlay {
        top: 30%; /* Center vertically */
        left: 25%; /* Center horizontally */
        right: 25%;
        transform: translate(-50%, -50%);
    }
}
    #title {text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
        font-size: 36px;
        text-align: center;
    opacity: 100%;}

    .container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px;
        
    }

    .column {
        flex-basis: calc(33.33% - 20px);
        box-sizing: border-box;
        margin-bottom: 40px;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.5s, transform 0.5s;
    }

   .column.animated {
        opacity: 1;
        transform: translateY(0);
    }

    .column img {
        max-width: 100%;
        height: auto;
        display: block;
        margin-bottom: 20px;
    }

    @media (max-width: 768px) {
        .column {
            flex-basis: 100%;
        }
    }



/* Workshop section */
.workshop-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    background-color: #fcd5ce; /* Purple background color */
    border-radius: 8px; /* Optional: add rounded corners */
}

.workshop-card {
    display: flex; /* Use flexbox to position elements */
    background-color: #faf5f2;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: left;
    transition: transform 0.2s;
}

.workshop-card:hover {
    transform: scale(1.05);
}

.workshop-date {
    padding-right: 20px; /* Add space between calendar and content */
}

.workshop-image {
    width: 200px; /* Set fixed width for images */
    margin-right: 20px; /* Add margin to separate image and content */
}

.workshop-image img {
    max-width: 100%; /* Make sure image doesn't overflow its container */
    height: auto; /* Let the browser calculate the height automatically */
    display: block; /* Ensure the image behaves properly */
    border-radius: 8px; /* Apply border-radius to image */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow to image */
}

.workshop-content {
    flex: 1; /* Take up remaining space */
    text-align: left; /* Align content to the left */
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
    .workshop-card {
        flex-direction: column; /* Stack elements vertically on mobile */
        align-items: center; /* Center items horizontally */
    }

    .workshop-date {
        padding-right: 0; /* Remove padding to avoid unnecessary space */
    }

    .workshop-image {
        width: 150px; /* Decrease image size on mobile */
        margin: 0; /* Remove margin */
        margin-bottom: 15px; /* Add bottom margin */
    }
    .workshop-container {
        overflow-x: hidden; /* Prevent horizontal scrolling */
    }
}

/* nav logo*/
nav img {
    max-height: 120px; /* Set a max height for the logo */
}

/* grid container */

.left-sidebar-grid {
    display:grid;
    grid-template-areas:
        'header'
        'main-content'
        'left-sidebar'
        'footer';
}

/* general column padding */
.left-sidebar-grid > * {
    padding:1rem;
}

/* assign columns to grid areas */

.left-sidebar-grid > .main-content {
    grid-area:main-content;
    background: #FFF1F5;
}
.left-sidebar-grid > .left-sidebar {
    grid-area:left-sidebar;
    background: #ffcad4;
}

/* tablet breakpoint */
@media (min-width:768px) {
    .left-sidebar-grid {
        grid-template-columns:repeat(3, 1fr);
        grid-template-areas:
            'header header header'
            'left-sidebar main-content main-content'
            'footer footer footer';
    }
}
.links-container {
    display: flex;
    flex-direction: column; /* Set the direction to column */
    justify-content: space-around;
    text-align: center;
    padding: 2px;
    font-size: 19px;
}

.links-container a {
    text-decoration: none; /* Remove the underline */
    color: white; /* Set the default color */
    background-color: #fcd5ce;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: color 0.3s; /* Add a smooth color transition on hover */
}

.links-container a:hover {
    background-color: #faf5f2; /* Change the color on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #2A1209;
}

/* Place the navbar at the footer */
.navbar {
    overflow: hidden;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size:xx-small;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {

    color: #2A1209;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
  
    color: #8e6b5c;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #72625c;
    color: white;
  }

  /* BREADCRUMBS */
  .breadcrumb{
    padding: 10px 16px;
    list-style: none;
    }
    
  .breadcrumb-item{
    display: inline;
    font-size: 18px;
    }
  
  .breadcrumb li+li:before{
    padding: 8px;
    color: black;
    content: ">>";
  }
  
  .breadcrumb-item a{
    color: #EADBDD;
    text-decoration: none;
  }
  
  .breadcrumb-item a:hover{
    color: red;
  }
  
  /* Table in home */
  table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto; /* Center the table by setting left and right margins to 'auto' */
}

th, td {
    border: 1px solid #fcd5ce;
    padding: 8px;
    background-color: white;
    text-align: left;
}

th {
    background-color: #ffcad4;
}

.buttonb{
    color:#2A1209;
    cursor: pointer;
}

.buttonh {
    padding: 10px 36px;
    font-size: 16px;
    color: white;
    border: none;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    transition: border-radius 0.4s; /* Apply default transition to border-radius */
}

.buttonh:hover {
    background-color: #fadde1;
    color:#2A1209;
    border-radius: 10px;
    cursor: pointer;
    transition: border-radius 0.4s; /* Apply transition specifically to border-radius */
}

.buttonh:not(:hover) {
    border-radius: 20px; /* Override transition for non-hover state */
}

/* zoom in Animation */

#zoomElement {
    transition: transform 0.5s ease-out;
}

.zoom-effect {
    transform: scale(1);
}

.zoom-effect.active {
    transform: scale(1.1); /* You can adjust the scale factor based on your preference */
}

/* Initially hide the element */
.slide-up {
    opacity: 0;
    transform: translateY(5px);
    transition: opacity 0.5s, transform 0.5s;
}

.slide-up.active {
    opacity: 1;
    transform: translateY(0);
}

/* Fade in paragraphs */
        .fade-in {
            opacity: 0;
            transition: opacity 2s;
        }

        .fade-in.active {
            opacity: 1;
        }

                /* Apply initial styles for the slide-up effect */
                #img-overlay {
                    text-align: center;
                
                    opacity: 0;
                    transform: translateY(20px);
                    transition: opacity 0.5s, transform 0.5s;
                    
                }
        
                #img-overlay.active {
                    opacity: 1;
                    transform: translateY(0);}

                            /* Apply initial styles for the slide-left effect */
        h2.slide-left {
            opacity: 0;
            transform: translateX(-20px);
            transition: opacity 1s, transform 1s;
        }

        h2.slide-left.active {
            opacity: 1;
            transform: translateX(0);
        }

/* Phone Navigation */
/* Add these styles to your existing CSS */


@media screen and (max-width: 768px) {
    .menu {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    

.menu-toggle {
    display: none;
    cursor: pointer;
}
    .menu.active {
        display: flex;
    }

    .menu li {
        position: relative;
    }

    .menu li ul {
        display: none; /* Hide submenus by default */
        position: absolute;
        top: 100%; /* Position submenus below parent items */
        left: 0;
        background-color: #fff; /* Adjust the background color as needed */
        border: 1px solid #ccc; /* Adjust the border color as needed */
        z-index: 1; /* Ensure submenus appear above other elements */
    }

    .menu li:hover ul {
        display: block; /* Show submenus on hover */
    }

    .menu-toggle {
        display: block;
    }

    .menu-toggle span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #333; /* Adjust the color as needed */
        margin: 5px 0;
        margin-left: 5px; /* Add left margin to move it to the right */
    }    

.btn15 {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 20px; /* Adjust this value */
    left: 20px; /* Adjust this value */
    transition-duration: 0.5s;
    z-index: 1000; /* Adjust this value */
}


.btn15 .icon {
    transition-duration: 0.5s;
    position: absolute;
    height: 4px;
    width: 30px;
    top: 30px;
    background: #5e468c;  /* Adjust the color as needed */
    border-radius: 4px;
    left: 15px;
}

.btn15 .icon:before {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 4px;
    background: #5e468c;  /* Adjust the color as needed */
    content: "";
    top: -10px;
    border-radius: 4px;
    left: 0px;
}

.btn15 .icon:after {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 4px;
    background: #5e468c;  /* Adjust the color as needed */
    content: "";
    top: 10px;
    border-radius: 4px;
    left: 0px;
}
  .btn15.open .icon {
    transition-duration: 0.5s;
    background: transparent;
    left: 1px;
  }
  
  .btn15.open .icon:before {
    transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
  }
  .btn15.open .icon:after {
    transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
  }
  .btn15:hover {
    cursor: pointer;
    background: #8872b1;
  }

  .btn15:hover .icon,
.btn15:hover .icon:before,
.btn15:hover .icon:after {
    background: white; /* Change the color to white */
}
}

.desktop-menu li:hover ul {
    display: block;
}

/* Mobile styles */
@media screen and (max-width: 768px) {
    .desktop-menu {
        display: none; /* Hide desktop menu on mobile */
    }

    .mobile-menu {
        display: block; /* Show mobile menu on mobile */
    }

    .mobile-menu ul {
        /* Add styles for mobile submenus */
        display: none; /* Hide mobile submenus by default */
    }

    .mobile-menu li:hover ul {
        display: block; /* Show mobile submenus on hover */
    }
}

.submenu {
    display: none;
}

.submenu:hover {
    display: block;
}
/* Styles specific to desktop view */
@media screen and (min-width: 769px) {
    .mobile-menu {
        display: none; /* Hide mobile menu on desktop */
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu li {
        margin-bottom: 0; /* Remove margin for desktop */
    }

    .menu li a {
        padding: 10px 15px;
        text-decoration: none;
        color: #333; /* Adjust text color as needed */
    }
}

/* Styles specific to mobile view */
@media screen and (max-width: 768px) {
    .desktop-menu {
        display: none; /* Hide desktop menu on mobile */
    }

    .mobile-menu {
        display: block; /* Show mobile menu on mobile */
    }

    .menu-toggle {
        display: block; /* Show menu toggle button on mobile */
        cursor: pointer;
    }

    .menu {
        display: none; /* Hide menu items on mobile */
        flex-direction: column;
        width: 100%;
    }

    .menu.active {
        display: flex; /* Show menu items when active */
    }

    .menu-toggle span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #333;
        margin: 5px 0;
        margin-left: 5px;
    }

    .menu li {
        margin-bottom: 10px; /* Add margin for mobile */
    }

    .menu li a {
        padding: 10px;
        text-decoration: none;
        color: #5e468c;
    }

    .menu li ul {
        position: static; /* Remove absolute positioning for mobile submenus */
        background-color: #fff; /* Adjust the background color as needed */
        border: 1px solid #ccc; /* Adjust the border color as needed */
    }
}
/* iframe suggested by html validator*/
#map-canvas {
    width: 100%;
    height: 450px; /* You can adjust the height as needed */
    border: none;
    margin: 0;
    padding: 0;
}

.map_part {
    display: block;
    margin: 20px 0; /* Adjust the margin as needed */
}

/* Style for the image container */
.image-container {
    overflow: hidden; /* Hide overflowing content */
    border: 10px solid #fff; /* Set the border width and color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a subtle shadow effect */
    height: 300px; /* Set a fixed height for the container */
    text-align: center; /* Center the image horizontally within the container */
  }

  .team-member img {
    max-width: 280px;
    border-radius: 10%;
    margin-right: 20px;
    margin-top: 20px;
    border: 6px solid #ffcad4;
    margin-left: 30px;
    margin-bottom: 20px;
    float: left;
}
  
/* Style for the main image */
.main-image {
    width: auto;
    height: 400%;
    max-width: 100%;
    display: inline-block;
    vertical-align: 10%;
    transform: scale(1.2);
    transform-origin: center bottom;
    transition: transform 0.5s ease;
  }
  
  .main-image.zoomed {
    transform: scale(1.9);
  }
  
  /* Add this CSS for a smooth scroll transition effect */
  body.scroll-transition .main-image {
    transition: transform 2s ease;
  }
  
  body.scroll-transition .main-image.zoomed {
    transform: scale(1.5);
  }


  /* Style for the photo sections */
.photo-section {
    margin-bottom: 10px; /* Adjust as needed to create space between sections */
  }
  
  /* Style for the photo gallery */
  .photo-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Arrange photos with space between them */
  }
  
  .photo-item {
    width: calc(33.33% - 10px); /* Adjust as needed to create space between photos */
    margin-bottom: 10px;
    transition: transform 0.3s ease;
  }
  
  /* Hover effect for photos */
  .photo-item:hover {
    transform: scale(1.2);
  }
  
/* Style for the new vertical image container */
.vertical-image-container {
    overflow: hidden;
    border: 10px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 200px; /* Set a fixed width for the container */
    float: right;
    margin-left: 20px;
  }
  
  /* Style for the vertical image */
  .vertical-image {
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    transform: scale(1.2);
    transition: transform 3s ease;
    transform-origin: center bottom;
  }
  
  /* Hover effect for zooming on hover */
  .vertical-image.zoomed {
    transform: scale(1); /* Adjust the scale factor for the zoom effect when scrolling */
}

  
/* Style for smaller screens, such as phones */
@media (max-width: 768px) {
    
    .vertical-image-container {
        width: 80%; /* Set a percentage width for the container on smaller screens */
        top: 200px;
        height: 0; /* Set a fixed height for the container */
        padding-bottom: 60%; /* Adjust the padding-bottom to make the container shorter */
        float: none; /* Remove the float for full-width display */
        margin: 0 auto; /* Center the container horizontally */
    }}

/* qr */

.qr-container {
    text-align: center;
    margin-top: 10px;
}

.qr-image {
    position: relative;
    cursor: pointer;
    width: 100px;
    height: auto;
    transition: transform 0.3s;
    border-radius: 50%;
    overflow: hidden;
}

.qr-image:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    content: url('QR/qrhover.png'); 
}

.qr-image::before {
    content: url('QR/qr.png'); 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.qr-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

#largeQrCode {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.close-btn {
    position: absolute;
    top: 70px;
    right: 15px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}


/* Patternsm */

.shopbycategory-column{
        float: none;
        width: 400px;
        padding: 10px;
        overflow: hidden;
        display: inline-block;
        background-color: #ffcad4;
        height: auto; /* Should be removed. Only for demonstration */
      }

.shopbycategory-row{
    margin: 0 auto; /* Center the table */
    display: table;
}


.shopbycategory-column img {
    width: 300px; /* Set a fixed width */
    height: 300px; /* Set a fixed height */
    object-fit: cover; /* Maintain aspect ratio while covering */
    margin-bottom: 10px;
    background-color: #fcd5ce;
    align-items: center;
    border-radius: 50%;
    border: 5px solid #ffcad4;
}

/* ----------------------------------PRODUCT SECTION---------------------------------------------------*/
#product-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #fcd5ce; /* Moved background color to the container */
}

.product {
    flex: 0 0 calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center; /* Moved text-align here */
    box-sizing: border-box; /* Ensures padding doesn't affect total width */
}

.product img {
    width: 300px; /* Adjusted image width to be responsive */
    max-width: 300px; /* Set maximum width for larger screens */
    object-fit: cover; 
    height: 300px; /* Auto height to maintain aspect ratio */
    border-radius: 10%; /* Adjusted border radius */
    border: 5px solid #ffcad4;
}

.product p {
    text-align: left; /* Moved text-align here */
}

/* Hide additional text by default */
#more1, #more2, #more3 {
    display: none;
}

/* Responsive styles */
@media (max-width: 768px) {
    #product-section {
        flex-direction: column; /* Change to single column layout */
    }

    .product {
        flex: 1 0 100%; /* Each column takes full width in mobile view */
    }
}


/* Supplies */
  
/* Blog section */
/* Supplies section */

.supplies-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.supplies-post {
    background-color: #faf5f2;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.supplies-post img {
    display: block;
    margin: 0 auto;
    max-width: 250px; /* Adjust the size as needed */
    height: auto;
    width: 100%; /* To ensure the image is square */
    border-radius: 5%;
    border: 6px solid #fadde1;
}

.supplies-post:hover {
    transform: scale(1.05);
}



/*-------------------------------------------------NWONG CSS-------------------------------------------------*/
/*Our Mission Page*/
.missionContainer{
    border-radius: 10px;
    margin: 40px;
    padding: 10px;
    background-color: #ffffff;
}

.missionContainer a {
    color: #c06071;
}

.imageGallery{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.imageGallery img{
    width: 250px;
    margin: 5px;
}

#linksCollection {  display: inline;
    list-style-type: none; 
    border-right: 1px solid gray;
    padding-left: 5px; padding-right: 5px; }

/*About Us Page*/
.team-member-container {
    border-radius: 10px;
    overflow: hidden;
    margin: 40px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team-container {
    border-radius: 10px;
    margin: 40px;
    padding: 10px;
    background-color: #fcd5ce;
}

.team-member-img {
    max-width: 280px;
    border-radius: 10%;
    margin-right: 20px;
    margin-top: 20px;
    border: 6px solid #ffcad4;
    margin-left: 30px;
    margin-bottom: 20px;
    float: left;
}

@media (max-width: 600px) {
    .team-member img {
        width: auto; /* Ensure proportional resizing */
        height: 50%; /* Ensure proportional resizing */
        max-width: 280px; /* Adjust the width for smaller screens */
        float: none; /* Reset float property for smaller screens */
        margin: 0 auto; /* Center the image horizontally */
        display: block; /* Ensure that margin: 0 auto; works */
        margin-bottom: 20px; /* Add margin to the bottom if needed */
        text-align: center;
    }
}


@media (min-width: 601px) and (max-width: 768px) {
    .team-member img {
        width: auto; /* Ensure proportional resizing */
        height: 50%; /* Ensure proportional resizing */
        max-width: 280px; /* Adjust the width for smaller screens */
        float: none; /* Reset float property for smaller screens */
        margin: 0 auto; /* Center the image horizontally */
        display: block; /* Ensure that margin: 0 auto; works */
        margin-bottom: 20px; /* Add margin to the bottom if needed */
        text-align: center;
    }
}

.team-member-details {
    flex-grow: 1;
    padding: 20px;
}

.dragging{
    opacity: 0.1;
}

/*FAQ Page*/

.faq-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    background-color: #fcd5ce; /* Purple background color */
    border-radius: 8px; /* Optional: add rounded corners */
}

.faq-card {
    background-color: #faf5f2;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: left;
}

.faq-contentpg {
    display: inline-block;
    vertical-align: middle;
    max-width: 70%;
}

.faq-card {
    transition: transform 0.2s;
}

.faq-card:hover {
    transform: scale(1.05);
}

summary {
    padding: 5px;
}
  
details {
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

/* Contact Us Page*/

.contact-container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fcd5ce;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
  
  input, textarea {
    width: 60%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 5px;
}

label { font-size: 11pt;
	float: left; clear: left; display: block;
	width: 150px;
 	text-align: left; }

.contact-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-links a {
    margin: 10px;
    position: relative;
    display: inline-block;
}

.contact-links img {
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
    border-radius: 50%; /* Makes the image round */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.contact-links a:hover img {
    transform: scale(1.2); /* Adjust the scale as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* hovering affect with shadow */
}

/*Custom Orders Page*/
.formWrapper{
    margin: 50px;
}

fieldset{
    border: solid 4px #ffcad4;
    background-color: #fadde1;
}

legend { 
	font-size: 14pt; 
}

form span{
    color: #c06071;
}


/*Custom Orders Page*/
.formWrapper{
    margin: 50px;
}

fieldset{
    border: solid 4px #ffcad4;
    background-color: #fadde1;
}

legend { 
	font-size: 14pt; 
}

form span{
    color: #c06071;
}


/*------------------------------------------------- More NVidarte CSS :) -------------------------------------------------*/

/* Shopping cart*/

/* Style for the cart icon */
/* Add this CSS to position the cart icon */
nav .cart-icon {
    float: right; /* Float the cart icon to the right */
    margin-right: 10px; 
}

/* Style for the cart icon */

nav .cart-icon {
    font-size: 20px; 
    color: #2A1209; 
    margin-left: auto; 
}

.cart-icon {
    position: relative;
}

.cart-icon i {
    font-size: 24px; 
}

/* Position the cart icon to the top right corner */
.cart-icon::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 20px; 
    height: 20px; 
    border-radius: 50%;
}




